<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">
       <!--серые добавлены для применения аннотаций-->

       <context:component-scan base-package="edu.javacourse.register"/><!--указываем пакет ниже которого будут сканироваться аннотации-->








       <!--НЕ АННОТАЦИИ       -->
<!--       <bean id="dao" class="edu.javacourse.register.dao.MarriageDao">-->
<!--              <property name="test" value="SIMPLE_NEW"/>-->
<!--        </bean>-->

<!--       <bean id="manager" class="edu.javacourse.register.business.MarriageManager">-->
<!--              <property name="marriageDao" ref="dao"/> &lt;!&ndash;ref дает возможность использовать bean который я уже описал&ndash;&gt;-->
<!--       </bean>-->

<!--       <bean id="controller" class="edu.javacourse.register.rest.MarriageController">-->
<!--              <property name="marriageManager" ref="manager"/>-->
<!--       </bean>-->

       </beans>