<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
       http://www.springframework.org/schema/data/jpa
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
       <!--серые добавлены для применения аннотаций-->

       <context:component-scan base-package="edu.javacourse.register"/><!--указываем пакет ниже которого будут сканироваться аннотации-->

       <tx:annotation-driven transaction-manager="txManager" /><!--говорим TransactionManager с помощью аннотаций а где ему нужно вклиниваться Иньекция кода-->

       <jpa:repositories base-package="edu.javacourse.register"
                         entity-manager-factory-ref="emf"
                         transaction-manager-ref="txManager"/>


       <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"><!--подключение к БД через стандартный драйвер и класс DMDS реализующий интерфейс DataSource-->
              <property name="driverClassName" value="org.postgresql.Driver"/>
              <property name="url" value="jdbc:postgresql://localhost:5432/register_office"/>
              <property name="username" value="postgres"/>
              <property name="password" value="2134"/>
       </bean>

       <bean name="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
              <property name="dataSource" ref="dataSource"/>
              <property name="packagesToScan"> <!--определяем пакет в котором у нас прячутся все наши Entity-->
                     <list>
                            <value>edu.javacourse.register.domain</value>
                     </list>
              </property>
              <property name="jpaVendorAdapter"> <!--к какому ORM мы собираемся подключаться к JPA через Hibernate в нашем случае -->
                     <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
              </property>
              <property name="jpaProperties">
                     <props>
                            <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</prop>
                            <prop key="hibernate.show_sql">true</prop>
                     </props>
              </property>
       </bean>

       <bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
              <property name="entityManagerFactory" ref="emf"/>
       </bean>







       <!--НЕ АННОТАЦИИ       -->
<!--       <bean id="dao" class="edu.javacourse.register.dao.MarriageDao">-->
<!--              <property name="test" value="SIMPLE_NEW"/>-->
<!--        </bean>-->

<!--       <bean id="manager" class="edu.javacourse.register.business.MarriageManager">-->
<!--              <property name="marriageDao" ref="dao"/> &lt;!&ndash;ref дает возможность использовать bean который я уже описал&ndash;&gt;-->
<!--       </bean>-->

<!--       <bean id="controller" class="edu.javacourse.register.rest.MarriageController">-->
<!--              <property name="marriageManager" ref="manager"/>-->
<!--       </bean>-->
</beans>

