<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"><!---->

<hibernate-configuration><!---->
    <session-factory><!--c  одной стороны это некое подобие коннекта к БД с другой стороны
    это и набор методов которые позволяют мне совершать действия над объектами - сохранять, вытаскивать -->

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property><!--впринципе hibernate может сам определить диалект но лучше оставлять
        -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property><!---->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/register_office</property><!---->
        <property name="hibernate.connection.username">postgres</property><!---->
        <property name="hibernate.connection.password">2134</property><!---->
        <property name="hibernate.show_sql">true</property><!--позволяет посмотреть конкретно сам sql запрос -->

        <mapping class="edu.javacourse.register.domain.Person" /><!--регистрируем класс который будем маппить -->


    </session-factory>
</hibernate-configuration>